.sidebar-grid{
    background: #050440;
    min-height: 50vw;
.sidename{
    .app-header{
        padding: 10px;
        h4{
            color:#fff;
            font-size: 18px;
        }
    }
   .nav{
    a{
        text-align: left;
        padding-left: 10px;
        color:#646494;
        display: flex;
        align-items: center;
        height: 100%;
        svg{
            padding:0px 5px;
        }
        .submenu-chevicon{
            margin-left:auto;
            font-size: 14px;
        }
    }
    a:hover{
      background:#2e2d69;
      color:#fff;
      border-radius: 4px;
    }
   }
}
}
.page-content{
    .page-top{
        margin: 20px 0px;
    .page-title{
        text-align: left;
        display: inline-flex;
    align-items: center;
    }
    .input-group{
        width: 200px;
        margin-left: auto;
        .input-group-text{
            background: transparent;
            border-right: 0px;
        }
        input{
            border-left: 0px;
            border-left: 0px;
            outline: none;
            /* border: none; */
            box-shadow: none;
        }
    }
}
.card{
    border: none;
    box-shadow: -2px 1px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 14px 0 rgb(0 0 0 / 1%);
}
    .dashboard-flex{
        svg{
            font-size: 40px;
            padding: 30px;
            border-radius: 50%;
        }
    }
    .dashboard-cnt{
        margin: 20px 10px;
      p{
        margin: 0;
        font-size: small;
      }
      h4{
        margin: 0;
      }
    }
    .chart-card{
        height: 300px;
        align-items: center;
    }
}
.table-card{
    padding: 30px 30px 15px 30px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(58, 58, 58, 0.2), 0 6px 20px 0 rgba(91, 90, 90, 0.19);
    .table-top{
        margin: 0px;
        display: inline-flex;
    .table-title{
        text-align: left;
    }
    .input-group{
        width: 200px;
        padding-bottom: 5px;
        margin-left: auto;
        .input-group-text{
            background: transparent;
            border-right: 0px;
        }
        input{
            border-left: 0px;
            border-left: 0px;
            outline: none;
            /* border: none; */
            box-shadow: none;
        }
    }
    .form-select{
        width: 150px;
        height: 38px;
        margin-left: 10px;
    }
}
}
.table {
    border-collapse: collapse;
    width: 100%;
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
} 